.card {
    border-radius: 15px !important;
    border: 0.2px solid black !important;
    ;
    height: 20px !important;
    ;
    width: 600px !important;
    ;
}

.date {
    font-size: 1.5rem;
}

.img {
    border-radius: 15px !important;
}

.cim {
    font-size: xx-large;
}

.desc {
    font-size: 1.5rem;
}

.topButton {
    font-size: 3.5rem;
    color: black;
    cursor: pointer;
    
}

.url {
    text-decoration: none;
    color: white;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0 !important;
}